<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new Patient</title>
</head>
<body>
<h2>Create a new Patient</h2>
<form th:action="@{/mvc/patient/submit}" method="post" th:object="${createPatientDto}">
    <label>Full name:</label>
    <input type="text" th:field="*{name}" /><br/>
    <label>Age:</label>
    <input type="text" th:field="*{age}" /><br/>
    <label>Phone number:</label>
    <input type="text" th:field="*{phoneNumber}" /><br/>
    <button type="submit">Save Patient</button>
</form>

<button onclick="window.location.href='/';">
  Go back
</button>
</body>
</html>